/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
  background:lightblue;
}
/* we might switch up the lightblue background for another image or video of flowing water*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* we want to add animation to title */
body {
  margin: 0;
  font-family: sans-serif;
  color: white;
  font-family: "Fjalla One", sans-serif;
  font-size: 35px;
  text-align:justify;
}

/* might add video to background */
img,
video {
  height: auto;
  max-width: 100%;
}

.content-container {
  position: relative;
  height: 80vh;
}

i {
  font-size: 28px;
  color: white;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
}

i:hover {
  color: black;
  opacity: 0.4;
  transition: all 0.5s;
}

.left {
  margin-left: 10px;
}

.right {
  float: right;
  margin-right: 10px;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}


.full-screen {
  border: 2px solid grey;
  width: 100%;
  height: 130vh;
  top: 0;
  left: 0;
  padding: 25px;
  padding-top: 0;
}

.full-screen p {
  padding: 10px;
}

.hidden {
  visibility: hidden;
}

#slide-1 {
  background-image: url("https://cdn.glitch.global/e3d10d8b-5fd5-4d01-ba2d-51ea23c01490/luis-vidal-f5_rRxchjoU-unsplash.jpg?v=1667614319260");
  height: 80vh;
}

#slide-2 {
  background-image: url(https://cdn.glitch.global/e3d10d8b-5fd5-4d01-ba2d-51ea23c01490/wade-austin-ellis-5T7dG1MRA3U-unsplash.jpg?v=1667618537465);
}

#slide-3 {
  background-image: url(https://cdn.glitch.global/e3d10d8b-5fd5-4d01-ba2d-51ea23c01490/kelly-sikkema-_whs7FPfkwQ-unsplash.jpg?v=1667618630457);
}

button {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  background: white;
  border: none;
  padding: 5px;
  color: grey;
  cursor: pointer;
  border-radius: 20px;
  font-family:'Fjalla One', sans-serif;
}
/*might add bouncing animation to buttons*/

button:hover {
  opacity: 0.8;
}

#checklist {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  padding: 25px;
  background: lightblue;
}

.hidden-checklist {
  width: 0px;
  overflow: hidden;
  padding: 0;
}
